body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /*text-align: center;
    align-items: center;*/
    margin: auto;
    margin-bottom: 5px;
    background-color: #ffffff;
}
/*
.titulo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: baseline;
    /*background-image: linear-gradient(to left,#c2b3b5 0%, #c9d3d2  100%);/
	background-color: #A6ACAF;
    padding-left: 4rem;
    margin-bottom: 20px;
    border: 2px solid #000000;
    
}
.titulo h1,p{
    padding-left: 1rem;
    text-align: left;
}
.titulo div{
    max-width: 300px;
}

.mini img{
	float: left;
	width: 10px;
	height: 10px;
	margin-bottom: 0px;
	padding: 0px;
}

.alinear{
margin-left: 100px;
}
.alinear p{
font-weight: bold;
}
@media (min-width:768px) {
  .alinear {
    margin-left: 800px;
  }
}
*/

/* ESTILOS DEL MENÚ */

.conten-mregisa {
	/*margin-left: 29%;
	margin-right: 30%;*/
    margin: auto;
	max-width: 40%;
	min-width: 400px;
	height: auto; /*354px*/
	background-color: #5882FA;
	border: 2px solid black;
	text-align: center;
	font-size: 1.25rem;
}
.alinea-mreg {
	display: flex; 
  	margin:auto; 
  	align-items:center; 
    padding: 0 3rem 1rem 3rem;
}
.alinea-mcancel {
	display: flex; 
  	margin:auto; 
  	justify-content:center; 
    padding: 2rem 0 2rem 0;
}
.boton-mregis{
	color: #000;
	background-color: #F4FA58;
	font-size: 20px;
    font-weight: bold;
	margin: 10px;
	width: 80%;
	height: 51px;
	box-shadow: 3px 3px black;
}
.alinea-mreg img {
    display: block;
	margin: auto;
    margin-right: 1.5rem;
}
/* FIN DEL MENÚ */


/* ESTILOS DE AGREGAR AMIGOS */

.buscar{
	margin: auto;
	max-width: 35%;
	min-width: 400px;
	height: auto;
    padding-bottom: 2rem;
	background-color: rgb(88, 214, 141);
	border: 2px solid black;
	text-align: center;
	font-size: 1.25rem;
}
/*
.registro {
	margin-left: 29%;
	margin-right: 30%;
	max-width: 546px;
	min-width: 400px;
	height: 354px;
	background-color: #9CCC65;/*rgb(88, 214, 141);/
	border: 2px solid black;
	text-align: center;
	font-size: 1.25rem;
}
*/
input{
	background-color: #EFEFEF;
	border: 2px solid black;
	width: 250px;
	height: 28px;
	font-size: 14px;
	margin-left: 5px;
}
::placeholder{
	color: #999999;	
}
input::focus {
	background-color: white;
	color: black;
}
.confirmar{
	color: #000;
	background-color: #F39C12;
	font-size: 20px;
	margin: 10px;
	width: 180px;
	height: 51px;
	box-shadow: 3px 3px black;
}
.cancelar{
	color: #000;
	background-color: #F39C12;
	font-size: 18px;
    font-weight: bold;
	margin: 10px;
	width: 163px;
	height: 45px;
	box-shadow: 3px 3px black;
}
/* FIN DE AGREGAR  */


/*PIE DE PAGINA/
.site-footer {
    background-color: #A6ACAF;
    margin: 0;
    border: 2px solid #000000;
}
.seccion {
    margin-top: 20px;
}

/*
.contenedor {
    width: 97%;
    max-width: 1200px; /* 1200px = 120rem /
    margin: 0 auto;
}
/
.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copyright {
    margin: 0;
    color: #000;
}

footer h4 {
	text-align: center;
}

img {
    display: block;
	margin: auto;
}

/* CONTENEDOR DEL FORMULARIO */
/*
.formulario { 
	background-color: #0098cb;
	padding: 2rem;
	border-radius: 10px;
	max-width: 500px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.664);;
	-moz-box-shadow: 0px 5px 15px 0px  rgba(0, 0, 0, 0.664);;
	box-shadow: 0px 5px 15px 0px  rgba(0, 0, 0, 0.664);;
  }
*/

/* MAIN */
.alinea-icon {
	/*display: flex; 
  	margin:auto; 
  	align-items:center; 
  	padding: 0 6.5rem 1.5rem 6.5rem;*/
    display: block;
    margin: auto;
   /* margin-right: 1.5rem;    */
    align-items: center;  
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

.alinea-icon img {
    margin-right: 0.5rem;
}
.espacio-super {
    padding-top: 1rem;
}


/* ESTILOS DEL PANEL */

.contenedor-t {
    width: 60%;
    max-width: 1200px; /* 1200px = 120rem */
    margin: 0 auto;
}

.sec-tabla {
    margin-top: 50px;
    /*margin-bottom: 20px;*/
}
.centrar-texto {
    text-align: center;
    margin-bottom: 2rem;
}
.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    /*flex-wrap: wrap;*/
}
.conten-tabla {
    padding: 2rem;
    background-color: #58D68D;  /* #B40404 */
    border: 2px solid #000; /*#B5B5B5*/    
}
.anuncio {
    flex: 0 0 calc(20% - 7px);
    /*flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);*/
    border: 2px solid #000; /*#B5B5B5*/
    background: #F4FA58;/*#B5B5B5*/
    padding-top: 3px;
    margin-bottom: 10px;
}
.head-tabla {
    flex: 0 0 calc(20% - 7px);
    /*flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);*/
    border: 2px solid #000; 
    background: #F4FA58;/*#B5B5B5*/
    padding-top: 5px;
    margin-bottom: 20px;
}

.body-tabla {
    flex: 0 0 calc(20% - 7px);
    /*flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);*/
    border: 2px solid #000; 
    background: #F2F2F2;/*#B5B5B5*/
    padding-top: 5px;
    margin-bottom: 20px;
}

.anuncio-tiempo {
    /*flex: 0 0 calc(33% - 3px);
    /*flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);*/
    border: 1px solid #000;
    background: #E6E6E6;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    align-items: center;
}
.contenido-anuncio {
    padding: 2px;
    /*padding-top: 0;
    padding-bottom: 10px;*/
}
.contenedor-general h2{
    color: #F4FA58;
}

.bordes {
  margin: 2rem 0 1.5rem 0;
}

table {
	width: 100%;
 }
 th, td {
	width: 20%;
    /*height: 3rem;*/
    text-align: center;
 }

 /* BOTON */
 /*
 .anuncio-boton{
     display: block;
     justify-content: center;
 }
 */
.ver-todas {
    display: block;
    margin: auto;
    padding-top: 3%;
}
.boton {
    color: #000;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 37% 0 37%;
    padding: 7px 0 7px 0;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
}
.boton-verde {
    background-color: #F39C12;
    border: 2px solid #000000;
    box-shadow: 5px 5px;
    width: 26%;
    height: 40px;
}

.aceptar {
    background-color: #F39C12;
    border: 2px solid #000000;
    box-shadow: 5px 5px;
}

td h4 {
    font-weight: 500;
    font-size: 17px;
    margin: 5px;
}
td a{
    text-decoration: none;
    color: #000;
}
td a h4:hover{
    color: #ff0000;
    cursor: pointer;
}


/* PANEL DE AVISO */
.titulo-ranking {
    margin: 1rem 0 5px 0;
  }
.contenedor-r {
    width: 60%;
    max-width: 1200px; /* 1200px = 120rem */
    margin: 0 auto;
}
.seccion-r {
    margin-top: 50px;
}
.centrar-textor {
    text-align: center;
}
.conten-anunciosr {
    display: flex;
    justify-content: space-between;
}
.contengen-ranking {
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: #C70E0E;  /* #B40404 */
    border: 2px solid #000000;
    width: 60%;
    margin: auto;
}

/* ESTILOS DE BOTON */
.boton-espacior {
    display: block;
    justify-content: center;
    padding-top: 3%;
}

.boton {
    color: #000;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 37% 0 37%;
    padding: 7px 0 7px 0;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
}
.estilo-boton {
    background-color: #F4FA58;
    border: 2px solid #000000;
    box-shadow: 5px 5px;
    width: 26%;
    padding-top: 15px;
    height: 30px;
}

.contengen-ranking img {
    padding-top: 1rem;
}